<div class="row">
    <div class="col-xs-12">
        <div style="vertical-align: middle">
            <span class="h4">{{title}}</span>
            <span class="label label-primary">{{category.name}}</span>
        </div>

        <p class="text-info">{{content}}</p>
    </div>
</div>