<header class="intro-header" style="background-image: url('/img/post-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1 style="word-wrap: break-word">{{title}}</h1>
                    <span class="meta">Posted by <a href="#">{{author.username}}</a> on {{this.getDisplayTime}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{{this.getDisplayContent}}}
            </div>
        </div>
    </div>
</article>
