:root {
    --wee-background-color: white;
    --wee-max-content-width: 1200px;
    --wee-nav-height: 80px;
}

.shadow-border {
    border: none;
    box-shadow: 0 0 40px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 0 40px rgba(0, 0, 0, .05);
    -ms-box-shadow: 0 0 40px rgba(0, 0, 0, .05);
    -o-box-shadow: 0 0 40px rgba(0, 0, 0, .05);
}

.hidden {
    display: none;
}

/*content*/
.component-content {
    /*overflow: hidden;*/
    padding: 40px 10px;
    margin: auto;
    max-width: var(--wee-max-content-width);
    background-color: white;
}

/*search*/
.bs-content {
    display: flex;
    margin: 10px 0;
}

.bs-input {
    width: 100%;
    flex: 1;
    padding: 10px 10px;
    outline: none;
    border: none;
}

.bs-input:focus, .bs-input:active {
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}

.bs-button {
    height: 40px;
    width: 60px;
    border: none;
    background-color: #F6490D;
    color: white;
}

.bs-button:focus, .bs-button:active {
    border: 1px solid #F6490D;
    outline: none;
    /*background-color: rgba(0, 0, 0, 0);*/
}

.bs-input-content {
    flex: 1;
    border: 1px solid #f0f0f0;
}
